@import url("https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark: #262433;
  --light-blue: #0d6efd;
  --dark-blue: #042d62;
}

body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Gantari", sans-serif;
  background-color: #f1f3f4;
}

::placeholder {
  font-family: "Gantari", sans-serif;
  color: #202124;
  font-size: 14px;
  white-space: nowrap; /* Evita che il testo del placeholder vada a capo */
  overflow: hidden; /* Nasconde il testo in eccesso */
  text-overflow: ellipsis;
}

/* Barra di scorrimento su Chrome/Safari */
::-webkit-scrollbar {
  display: none !important;
}

.searchbar {
  font-size: 8px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 40px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 100%;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.searchbar-clear-icon {
  margin-right: 12px;
}

.voice-search {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 2.8em;
}

.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  background-color: white;
  width: 100%;
  border-top: 10px solid var(--dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.navigation {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: white;
  border-radius: 25px 25px 0 0;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #000;
  opacity: 0.75;
}
.navigation ul li.active a .icon {
  transform: translateY(-10px);
  opacity: 1;
  color: #0d6efd;
}

.indicator {
  position: absolute;
  top: -10px;
  width: 70px;
  height: 70px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 6px solid var(--dark);
  background: var(--dark);
  cursor: pointer;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25.75px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  box-shadow: 4px -6px 0 2px var(--dark);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25.75px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 20px;
  box-shadow: -4px -6px 0 2px var(--dark);
  z-index: -1;
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
.indicator span {
  position: absolute;
  bottom: 3px;
  left: -1px;
  width: 60px;
  height: 60px;
  border: 4px solid #0d6efd;
  background: #fff;
  border-radius: 50%;
  transform-origin: bottom;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transform: scale(0.85);
}

.my-card {
  border: 1px solid #dfe1e5;
}

.fw-sm {
  font-size: 13px;
}

/*=============================================
=            LOGIN FORM            =
=============================================*/
.login {
  background-image: url("/wallpaper-login.png");
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  height: 100%;
}

.login form .title {
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0 10px 0;
  position: relative;
  color: var(--dark-blue);
}
.login form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: var(--light-blue);
}
.login form .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.login form .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}

.login form .input-box-1 {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.login form .input-box-1 input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
  background-color: transparent !important;
}
.login form .underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.login form .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--light-blue);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.login form .input-box input:focus ~ .underline::after,
.login form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.login form .button {
  margin: 40px 0 20px 0;
}
.login .input-box input[type="submit"] {
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  background: var(--dark-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}
.login .input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: var(--light-blue);
}
.login .option {
  font-size: 14px;
  text-align: center;
}
.login .google a,
.login .linkedin a,
.login .apple a {
  display: block;
  width: 100%;
  font-size: 14px;
  height: 50px;
  text-decoration: none;
  padding-left: 60px;
  line-height: 45px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px !important;
  cursor: pointer;
}
.login .google i,
.login .linkedin i,
.login .apple i {
  padding-right: 12px;
  font-size: 20px;
}
.login .google a,
.login .linkedin a,
.login .apple a {
  background-color: white;
  margin: 20px 0 15px 0;
}
.login .google a:hover {
  background-color: #bcbcbc;
  box-shadow: none;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
.login .linkedin a:hover {
  background-color: #bcbcbc;
  box-shadow: none;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}
.login .apple a:hover {
  background-color: #bcbcbc;
  box-shadow: none;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

/*=============================================
=            REGISTER FORM            =
=============================================*/

.register {
   background-image: url("/wallpaper-register.png");
  background-size: cover;
  background-position: center; 
  overflow-y: hidden;
  height: 100%;
}

.register form .title {
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0 10px 0;
  position: relative;
  color: white;
}
.register form .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: white;
}

.register form {
  margin-top: 30px;
}
.register form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1px solid #ccc;
  border-bottom-width: 2.5px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #4070f4;
}
form .policy {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  background: var(--dark-blue);
  cursor: pointer;
}
.input-box.button input:hover {
  background: var(--light-blue);
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

/*=============================================
=            UPDATE INFO FORM            =
=============================================*/

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formbold-form-wrapper {
  margin: 0 auto;
  width: 100%;
  background: transparent;
  height: 100%;
  padding: 50px 0;
}

.formbold-steps {
  padding-bottom: 18px;
  margin-bottom: 35px;
  border-bottom: 1px solid #DDE3EC;
}
.formbold-steps ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5px;
}
.formbold-steps li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #536387;
}
.formbold-steps li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDE3EC;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  color: #536387;
}
.formbold-step-menu2 span{
  width: 50px !important;
}
.formbold-steps li.active {
  color: #07074D;;
}
.formbold-steps li.active span {
  background: var(--light-blue);
  color: #FFFFFF;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: var(--light-blue);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-confirm {
  border-bottom: 1px solid #DDE3EC;
  padding-bottom: 35px;
}
.formbold-form-confirm p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-bottom: 22px;
  width: 75%;
}
.formbold-form-confirm > div {
  display: flex;
  gap: 15px;
}

.formbold-confirm-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  border: 0.5px solid #DDE3EC;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  cursor: pointer;
  padding: 10px 20px;
  transition: all .3s ease-in-out;
}
.formbold-confirm-btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.formbold-confirm-btn.active {
  background: var(--dark-blue);
  color: #FFFFFF;
}

.formbold-form-step-1,
.formbold-form-step-2,
.formbold-form-step-3 {
  display: none;
}
.formbold-form-step-1.active,
.formbold-form-step-2.active,
.formbold-form-step-3.active {
  display: block;
}

.formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: 25px;
}
.formbold-back-btn {
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  color: #07074D;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: none;
}
.formbold-back-btn.active {
  display: block;
}
.formbold-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  font-weight: 500;
  background-color: var(--dark-blue);
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}